:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
}
.login-img {
  background-image: url("./img/paint-login.png");
  width: 100%;
  height: 100%;
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center;
}
.input-border-color {
  border-color: #becac6;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d; /* Set the color for the "or" text */
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e0e0e0; /* Line color */
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}
.forgot-password-color {
  color: #1e3a8a;
}
